<section>
  <%= form_for Post.new do |f| %>
    <div class="field">
      <% f.label :comment %>
      <%= f.text_area :comment %>
    </div>
    <div class="action">
      <%= f.submit "POST COMMENT" %>
    </div>
  <% end %>

  <div class="comments">
    <% Post.order(created_at: :desc).all.each do |p| %>
      <p class="comment"><%= p.comment %></p>
    <% end %>
  </div>
</section>
