<section>
  <%= image_tag("Noose.jpg", :size => "auto", :alt => "Noose Pose") %>
  <article>
    <p>This pose stretches the spine very effectively. It is beneficial to those who have nervous system disorders as it promotes better nerve health by increasing blood circulation around the spine.
    </p>
    <p>The Noose Pose stimulates the abdominal muscles, stretches and strengthens the spine and increases blood circulation due to its twisting nature. This pose also relieves tension in the shoulders, back and neck and opens them up. The thighs, groins and ankles also open up and strengthen as a result of performing this pose regularly.
    </p>
    <p>Pasasana relieves asthma, alleviates back and neck pain reduces problems of indigestion, flatulence and menstruation. This pose also helps relieve sciatic pain.
    </p>
    </article>
</section>
