<section>
  <%= image_tag("Camel.jpg", :size => "auto", :alt => "Camel Pose") %>
  <article>
    <p>This asana is an amazing stretch. It works towards opening up the front of your body while also opening your pectoral muscles and hip flexors. It also tones the limbs, thighs, chest, and abdomen. So, basically, the entire frontal region and the sides of our bodies get involved in this asana.
    </p>
    <p>It also slowly, but surely, works on the circulatory, respiratory, lymphatic, skeletal, endocrine, and digestive systems in the body. Whether you are suffering from diabetes, asthma, thyroid, parathyroid, spondylitis, or bronchitis, this asana works as therapy on all of them. Doctors also recommend this asana to people who are obese or have issues with the kidneys or reproductive systems. It is also said to heal colitis, constipation, and dyspepsia.
    </p>
  </article>
</section>
