<section>
  <%= image_tag("ForwardBend.jpg", :size => "auto", :alt => "Forward Bend") %>
  <article>This pose works amazingly well in increasing the flexibility of the thighs, hamstrings, thighs, hip joints, back, arms, and shoulders. It soothes both the heart and the mind and stretches the entire body. This asana is usually done at the end of a sequence once your body is warmed up. It prepares the body for deeper forward bends. Although this asana is called the head-to-knee pose, touching your head to your knee is not as important as keeping your torso stretched out throughout the pose.</article>
</section>
